.form__fieldset {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

@media screen and (max-width: 615px) {
  .form__fieldset {
    width: 238px;
  }
}
