.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  background-image: url(../../../images/add-btn.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  transition: opacity .4s;
}
  .profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

@media screen and (max-width: 915px) {
  .profile__add-button {
    width: 282px;
    margin-left: 0;
    background-size: 16px 16px;
  }
}
