.element__like-button {
  width: 22px;
  height: 19px;
  padding: 0;
  margin: 0;
  background-image: url(../../../images/like-btn.svg);
  background-repeat: no-repeat;
  background-size: 22px 19px;
  background-position: center;
  background-color: inherit;
  border: none;
  transition: opacity .4s;
}
  .element__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
  }
